:root {
    --default-font-family: "SF Pro Display", "Manrope", sans-serif;
    --name-font-family: "Manrope", sans-serif;
    --default-font-weight: 600;
    --col-boder: 1px solid #e5e7eb;
}
body {
    font-family: var(--default-font-family);
    font-weight: var(--font-weight);
    margin: 0px;
    background: #000;
    min-height: 100vh;
    position: relative;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.page-wrapper {
    max-width: 1440px;
    margin: 0 auto;

    margin: 0 1.5rem 0 1.5rem;
    border-left: 1px solid;
    border-right: 1px solid;
    border-image: linear-gradient(90deg, #ff5f6d, #ffc371, #33ccff, #9966ff) 1;
    border-top: none;
    min-height: 100vh;
    position: relative;
    z-index: 1;

    max-width: 100%;
    box-sizing: border-box;
}
p {
    font-size: 18px;
    line-height: 1.3;
}
.intro-section {
    display: flex;
    flex-direction: column;
}
.video-container {
    display: block;
}
.intro-section {
    position: relative; 
    height: 350px; 
}
.video-container {
    position: relative; 
    width: 100%;
    height: 100%;
    overflow: hidden;
}    

.intro {
    position: relative;
    z-index: 1; 
    margin: 0; 
    padding: 20px 10px;
    line-height: 1.5rem;
}
section {
    position: relative;
}
section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #ff5f6d, #ffc371, #33ccff, #9966ff);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 1.5s cubic-bezier(0.4,0,0.2,1);
}

section.border-animate::after {
    transform: scaleX(1);
}

section:first-of-type::after {
   top: 100%;
}
section:last-of-type::after{
    left: 0;   
    right: 0;
}
.nav {
    width: 100%;
    position: relative; 
    top: 0;
    z-index: 1000;
}
.nav::after {
    content: "";
    position: absolute;
    right: -1.5rem;
    left: -1.5rem;
    top: 100%;
    height: 1px;
    background: linear-gradient(90deg, #ff5f6d, #ffc371, #33ccff, #9966ff);
    
}
ul{
    list-style: none;
    gap: 0.5rem;
    display: flex;
    margin: 0;
    font-size: 16px;
}
.nav ul {
  padding: 0; 
}
footer ul {
  padding-right: 1.5rem; 
}
.navSection {
    display: flex;
    justify-content: space-between; 
    padding: 0.3rem 0.5rem;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    font-weight: var(--font-weight);
}

h1.name {
    font-family: var(--name-font-family);
    font-optical-sizing: auto;
    font-weight: var(--font-weight);
    font-style: normal;
    font-size: 32px;
    margin: 0px;
    text-align: left;
    text-transform: uppercase;
}

.media-section {
    display: block;
    width: 100%;
    height: 50vh; 
}

.media-left-box,
.media-right-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start;
    overflow: hidden;
}

.media-left-box img, .media-right-box video {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 5px;
}
.media-empty {
    display: none;
}
.media-overlay {
        position: relative;
        opacity: 1;
        background: none;
        color: #fff;
        padding: 0.2rem;
        order: -1; 
    }
.media-overlay img {
    object-position: center;
}

h1.name, .intro h3, p {
    background: linear-gradient(90deg, #ff5f6d, #ffc371, #33ccff, #9966ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.intro p {
   margin: 0.1rem;
}
.media-overlay p{
    text-align: left;
    padding: 10px;
    white-space: normal;
    overflow-wrap: break-word;
}
footer {
    width: 100%;
    padding: 1rem;
    position: relative; 
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}   
footer::after {
    content: "";
    position: absolute;
    right: -1.5rem;
    left: -1.5rem;
    bottom: 100%;
    height: 1px;
    background: linear-gradient(90deg, #ff5f6d, #ffc371, #33ccff, #9966ff);
}

@media screen and (min-width: 992px) {
    .page-wrapper {
        margin: 0 2.5rem 0 2.5rem;
    }
    .nav::after {
    right: -2.5rem;
    left: -2.5rem;
    }
    .intro-section {
        height: 400px;
    }
    .intro h3 {
        font-size: 32px;
    }
    .intro p {
        font-size: 22px;
    }

    h1.name {
        font-size: 58px;
        position: fixed;
        left: 3rem;
        top: -0.3rem;
    }
    .navSection {
        position: relative;
        justify-content: flex-end;
        padding: 1rem;
    }
    ul{
        font-size: 24px;
        gap: 1rem;
        padding-left: 0.3rem;
    }
    .media-section {
        height: 60vh; 
    }
    .video-container {
         display: block; 
         position: absolute; 
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 0;
         overflow: hidden;
    }  

    .video-container video {
       width: 100%;
       height: 100%;
       object-fit: cover;
       opacity: 0.8; 
    }
    .intro {
       position: relative;
       z-index: 1; 
       margin: 0; 
       padding: 10px 20px;
    }
    
    .video-container video {
       filter: brightness(0.8) contrast(1);
       transition: filter 0.3s ease;
    }

    .video-container video:hover {
       filter: brightness(1) opacity(1) contrast(1.2);
    }
    .media-overlay p{
        padding: 20px;
        font-size: 30px;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .media-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .media-empty {
        display: block;
    }
    .media-section::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%; 
        width: 1px;
        background: linear-gradient(180deg, #ff5f6d, #ffc371, #33ccff, #9966ff);
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 1.5s cubic-bezier(0.4,0,0.2,1);
        z-index: 1;
    }

    .media-section.border-animate::before {
        transform: scaleY(1);
    }

    .media-left-box {
        justify-content: flex-end;
        align-items: flex-end;
    } 
    .media-right-box {
        justify-content: flex-start;
    }

    .media-left-box img{
        width: 82%;
        height: 70%;
        border-top: var(--col-boder);
        border-left: var(--col-boder);
        border-image: linear-gradient(90deg, #ff5f6d, #ffc371, #33ccff, #9966ff) 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        object-fit: cover;
        object-position: center;
        
    }
    .media-right-box video {
        width: 82%;
        height: 70%;
        border-bottom: var(--col-boder);
        border-right: var(--col-boder);
        border-image: linear-gradient(90deg, #ff5f6d, #ffc371, #33ccff, #9966ff) 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        object-fit: cover;
    }
   
    .media-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
    }
    .media-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: 0.5s ease;
        color: #fff;
    }
    .media-left-box:hover, .media-right-box:hover {
        filter: brightness(0.6) contrast(1.2);
    }
    .media-left-box:hover .media-overlay, .media-right-box:hover .media-overlay {
        opacity: 1;
    }
    .media-overlay p{
        text-align: center;
        padding: 20px;
        font-size: 24px;
        line-height: 1.4;
        text-transform: uppercase;
        white-space: normal;
        overflow-wrap: break-word;
        padding: 0 4rem;
    }
    footer {
    padding: 1.5rem;
    }
    footer::after {
        right: -2.5rem;
        left: -2.5rem;
    }
    footer ul {
        font-size: 22px;
        padding-right: 3.5rem;
    }
}

   

